.App {
  height: 100vh;
  background-color: #93b1a6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.md-w {
  width: 300px;
}

.sm-w {
  width: 150px;
}

.mantine-j3jbtx {
  padding-left: 0;
}
